.my-table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.my-table th,
.my-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.my-table thead {
  background-color: #f2f2f2;
}

.my-table th {
  font-weight: bold;
}
