.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 1rem;
  justify-content: center;
}

.nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-link.active {
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
