.form-table {
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 600px;
}

.form-table td {
  padding: 0px;
}

.form-table td label {
  display: block;
  /* margin-bottom: 5px; */
  font-weight: lighter;
  text-align: left;
  padding-right: 10px;
}

.form-table td input[type="text"],
.form-table td input[type="number"],
.form-table td input[type="time"],
.form-table td input[type="file"],
.form-table td select {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-table td button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
}

.form-table td button[type="submit"]:hover {
  background-color: #45a049;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 200px;
  height: 350px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #0000001a;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.card h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card p {
  font-size: 14px;
  color: #999;
}
