/* Property component styles */
.property {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.property-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 1.5rem;
  font-weight: bold;
}

.property__image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 0px;
}

.property__title {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.property__address {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.facilities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.facility {
  width: 200px;
  height: 300px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #0000001a;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.facility__image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.facility__title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.facility__booking-limit {
  font-size: 14px;
  color: #999;
}

.resident-property-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.resident-property-section {
  display: flex;
  flex-direction: column;
}

.resident-property-label {
  margin-bottom: 10px;
}

select,
textarea {
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

select {
  height: 40px;
}

.completed-row {
  background-color: #90ee90;
}

.my-feedback {
  border-collapse: collapse;
  border: 1px solid #dddddd;
  width: 100%;
  margin-top: 20px;
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff, #f2f2f2);
}

.my-feedback thead {
  background-color: #f1f1f1;
}

.my-feedback th {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 12px 15px;
  color: #333333;
  border: 1px solid #dddddd;
}

.my-feedback td {
  font-size: 14px;
  padding: 10px 15px;
  color: #555555;
  border: 1px solid #dddddd;
}

.my-feedback tr {
  transition: background-color 0.3s ease;
}

.my-feedback tr:hover {
  background-color: #f5f5f5;
}
.my-feedback td button {
  flex: 1;
}
